.product-view {
	// .product-view__container
	&__container {
	}
	// .product-view__wrapper
	&__wrapper {
		display: grid;
		grid-template-columns: rem(573) 1fr;
		@include adaptiveValue("column-gap", 52, 0);
		align-items: start !important;
		@media (max-width: $tablet) {
			grid-template-columns: 1fr;
		}
	}
	// .product-view__sliders
	&__sliders {
		min-width: 0;
		@media (max-width: $tablet) {
			&:not(:last-child) {
				@include adaptiveValue("margin-bottom", 60, 20);
			}
		}
	}
	// .product-view__about
	&__about {
		min-width: 0;
	}
}
.sliders-product {
	display: grid;
	grid-template-columns: percent(100, 573) 1fr;
	gap: percent(29, 537);
	min-width: 0;
	// align-items: start !important;
	// .sliders-product__preview
	&__preview {
	}
	// .sliders-product__main
	&__main {
	}
}
.preview-slider {
	min-width: 0;
	display: grid;
	// .preview-slider__slider
	&__slider {
		min-width: 0;
		//max-height: 444px;
	}
	// .preview-slider__wrapper
	&__wrapper {
	}
	// .preview-slider__slide
	&__slide {
		cursor: pointer;
		min-width: 100%;
		border: rem(1) solid transparent;
		overflow: hidden;
		border-radius: rem(6);
		transition: border 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				.preview-slider__image-ibg {
					background-color: $green-opacity-01;
				}
			}
		}
		&.swiper-slide-thumb-active {
			border: rem(1) solid $green-main;
		}
	}
	// .preview-slider__image-ibg
	&__image-ibg {
		padding-bottom: 100%;
		background-color: $bg-gray;
		border: 0.0625rem solid transparent;
		border-radius: 0.25rem;
		transition: background-color 0.3s ease 0s;
	}
}

.main-product-slider {
	min-width: 0;
	// .main-product-slider__slider
	&__slider {
		min-width: 0;
		background: $bg-gray;
		border-radius: rem(6);
		//max-height: 444px;
	}
	// .main-product-slider__wrapper
	&__wrapper {
		position: relative;
		&::after {
			content: "\e910";
			@extend %ic;
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
			top: rem(13);
			right: rem(13);
			width: rem(30);
			height: rem(30);
			border-radius: 50%;
			background-color: $bg-main;
			font-size: rem(16);
			z-index: 1;
		}
	}
	// .main-product-slider__slide
	&__slide {
	}
	// .main-product-slider__image-ibg
	&__image-ibg {
		cursor: zoom-in;
		display: block;
		padding: 0rem 0rem 101% 0rem;
	}
}
//=================================
.about-product-view {
	// .about-product-view__header
	&__header {
	}
	// .about-product-view__descr
	&__descr {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 24, 15);
		}
	}
	// .about-product-view__label
	&__label {
		font-weight: 500;
		font-size: rem(15);
		line-height: math.div(16px, 15px) * 100%;
		color: $black-light;
		&:not(:last-child) {
			margin-bottom: rem(8);
		}
	}
	// .about-product-view__text
	&__text {
		@include adaptiveValue("font-size", 14, 13);
	}
	// .about-product-view__values
	&__values {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 22, 15);
		}
	}
	// .about-product-view__items
	&__items {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 18, 15);
		}
	}
	// .about-product-view__item
	&__item {
		@include adaptiveValue("font-size", 15, 14);
		line-height: math.div(16px, 15px) * 100%;
		&:not(:last-child) {
			margin-bottom: rem(10);
		}
		span {
			color: $gray-a5;
		}
	}
	// .about-product-view__share
	&__share {
	}
}
.header-about-product {
	padding-bottom: rem(13);
	border-bottom: rem(1) solid $gray-light;
	&:not(:last-child) {
		margin-bottom: rem(15);
	}
	// .header-about-product__name
	&__name {
		font-weight: 700;
		@include adaptiveValue("font-size", 28, 24);
		line-height: 1.1;
		color: $black-light;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 14, 8);
		}
	}
	// .header-about-product__info
	&__info {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: rem(10);
	}
	// .header-about-product__price
	&__price {
		font-weight: 700;
		@include adaptiveValue("font-size", 22, 18);
		color: $green-main;
	}
	// .header-about-product__rating
	&__rating {
		display: flex;
		align-items: center;
		gap: rem(10);
		@media (max-width: $mobile) {
			gap: rem(5);
			border: rem(1) solid $green-main;
			border-radius: rem(32);
			padding: rem(6);
		}
	}
	// .header-about-product__review
	&__review {
		display: flex;
		align-items: center;
		gap: rem(4);
		font-size: rem(15);
		@include adaptiveValue("font-size", 15, 12);
		line-height: math.div(16px, 15px) * 100%;
		color: $black-light;
		@media (max-width: $mobile) {
			gap: rem(1);
			&::after {
				content: ")";
			}
			&::before {
				content: "(";
			}
			span {
				display: none;
			}
		}
	}
}

.values-about-product {
	// .values-about-product__size
	&__size {
		&:not(:last-child) {
			&:not(:last-child) {
				@include adaptiveValue("margin-bottom", 20, 15);
			}
		}
	}
	// .values-about-product__actions
	&__actions {
	}
}
.size-value-product {
	display: flex;
	column-gap: rem(10);
	@media (max-width: $mobile) {
		column-gap: rem(15);
	}
	// .size-value-product__line
	&__line {
		display: flex;
	}
	// .size-value-product__input
	&__input {
		width: 0;
		height: 0;
		opacity: 0;
		position: absolute;
		&:focus + .size-value-product__label:before {
			border: rem(2) solid $green-main;
		}
		&:checked + .size-value-product__label:before {
			border: rem(2) solid $green-main;
		}
		&:focus + .size-value-product__label {
			.size-value-product__text {
				color: $green-main;
			}
		}
		&:checked + .size-value-product__label {
			.size-value-product__text {
				color: $green-main;
			}
		}
	}
	// .size-value-product__label
	&__label {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		position: relative;
		&:before {
			content: "";
			align-self: flex-start;
			width: rem(28);
			height: rem(28);
			flex: 0 0 rem(28);
			border-radius: 50%;
			border: rem(2) solid $gray-light;
			transition: border 0.3s ease 0s;
		}
		@media (any-hover: hover) {
			&:hover {
				&:before {
					border: rem(2) solid $green-main;
				}
			}
		}
	}
	// .size-value-product__text
	&__text {
		font-weight: 500;
		line-height: math.div(16px, 14px) * 100%;
		text-align: center;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}
.actions-value-product {
	display: flex;
	flex-wrap: wrap;
	column-gap: rem(10);
	row-gap: rem(18);
	// .actions-value-product__quantity
	&__quantity {
		&:not(:last-child) {
			margin-right: rem(10);
		}
		@media (max-width: $tablet) {
			flex: 1 1 100%;
			&:not(:last-child) {
				margin-right: rem(0);
			}
		}
	}
	// .actions-value-product__btn
	&__btn {
		@media (max-width: $mobileSmall) {
			flex: 1 1 100%;
			justify-content: center;
		}
	}
	// .actions-value-product__add
	&__add {
		@media (max-width: $mobileSmall) {
			flex: 1 1 100%;
			justify-content: center;
		}
	}
	// .actions-value-product__like
	&__like {
		position: relative;
		overflow: hidden;
		// &:not(:last-child) {
		// 	margin-bottom: em(5);
		// }
		@media (any-hover: hover) {
			&:hover {
				.actions-value-product__icon {
					background-color: $green-main;
					&:before {
						color: $bg-main;
						animation: toRightFromLeft 0.5s forwards;
					}
				}
			}
		}
		@media (max-width: $mobileSmall) {
			flex: 1 1 100%;
		}
	}
	// .actions-value-product__input
	&__input {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;
		&:focus + .actions-value-product__icon {
			background-color: $green-main;
			&:before {
				color: $bg-main;
				animation: toRightFromLeft 0.5s forwards;
			}
		}
		&:checked + .actions-value-product__icon:before {
			content: "\e907";
			color: red;
			font-size: rem(18);
		}
	}
	// .actions-value-product__icon
	&__icon {
		transition: all 0.3s ease 0s;
		cursor: pointer;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		position: relative;
		width: rem(40);
		min-height: rem(40);
		border: rem(2) solid $green-main;
		border-radius: 6px;
		&:before {
			transition: all 0.3s ease 0s;
			color: $green-main;
			font-weight: 700;
			font-size: rem(20);
		}
		@media (max-width: $mobileSmall) {
			width: 100%;
		}
	}
}

.share-about-product {
	display: flex;
	align-items: center;
	gap: rem(16);
	// .share-about-product__label
	&__label {
		font-weight: 500;
		font-size: rem(15);
		line-height: math.div(16px, 15px) * 100%;
		color: $black-light;
	}
	// .share-about-product__items
	&__items {
		display: flex;
		align-items: center;
		column-gap: rem(20);
	}
	// .share-about-product__item
	&__item {
		&:last-child {
			font-size: rem(18);
		}
	}
	// .share-about-product__link
	&__link {
		color: $black-light;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: $green-main;
			}
		}
	}
}
//=================================

//=================================
