.blog-post {
	// .blog-post__container
	&__container {
	}
	// .blog-post__header
	&__header {
		text-align: center;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 35, 25);
		}
	}
	// .blog-post__title
	&__title {
		font-weight: 700;
		@include adaptiveValue("font-size", 30, 22);
		line-height: math.div(35, 30);
		color: $black-light;
		&:not(:last-child) {
			margin-bottom: rem(7);
		}
	}
	// .blog-post__descr
	&__descr {
		line-height: math.div(24px, 14px) * 100%;
	}
	// .blog-post__items
	&__items {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(rem(268), 1fr));
		@include adaptiveValue("gap", 40, 20);
	}
	// .blog-post__item
	&__item {
	}
}
.item-blog-post {
	overflow: hidden;
	transition: all 0.8s ease 0s;
	background-color: $bg-gray;
	// .item-blog-post__image
	&__image {
		position: relative;
		padding-bottom: 73%;
		img {
			transition: all 0.8s ease 0s;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
		}
	}
	// .item-blog-post__body
	&__body {
		padding: rem(9) rem(13) rem(13);
	}
	// .item-blog-post__info
	&__info {
		font-weight: 500;
		@include adaptiveValue("font-size", 14, 12);
		line-height: math.div(16px, 14px) * 100%;
		color: $green-main;
		display: inline-flex;
		flex-wrap: nowrap;
		align-items: center;
		column-gap: rem(16);

		&:not(:last-child) {
			margin-bottom: rem(4);
		}
	}
	// .item-blog-post__date
	&__date {
		position: relative;
		&::after {
			content: "";
			height: 60%;
			position: absolute;
			width: rem(2);
			background-color: $green-main;
			left: calc(100% + rem(8));
			top: 50%;
			transform: translate(-50%, -50%);
		}
	}
	// .item-blog-post__read
	&__read {
	}
	// .item-blog-post__title
	&__title {
		font-weight: 700;
		display: block;
		@include adaptiveValue("font-size", 20, 16);
		line-height: math.div(26px, 20px) * 100%;
		color: $black-light;
		max-width: rem(230);
		color: $black-light;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		overflow: hidden;
		transition: color 0.3s ease 0s;
		&:not(:last-child) {
			margin-bottom: rem(4);
		}
		@media (any-hover: hover) {
			&:hover {
				color: $green-main;
			}
		}
	}
	// .item-blog-post__text
	&__text {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		overflow: hidden;
		line-height: math.div(22, 14);
		&:not(:last-child) {
			margin-bottom: rem(9);
		}
	}
	// .item-blog-post__link
	&__link {
		font-weight: 500;
		line-height: math.div(16px, 14px) * 100%;
		color: $black-light;
		display: inline-flex;
		flex-direction: row-reverse;
		align-items: center;
		transition: color 0.3s ease 0s;
		align-self: flex-start;
		&::before {
			margin-left: rem(3);
			font-size: rem(16);
		}

		@media (any-hover: hover) {
			&:hover {
				color: $green-main;
				&::before {
					animation: toRightFromLeft 0.5s forwards, moveArrow 1s infinite linear 0.5s; 

				}
			}
		}
	}
	@media (any-hover: hover) {
		&:hover {
			box-shadow: 0 0 1.875rem 0 rgb(70 163 88 / 20%);
			color: $green-main;
			.item-blog-post__image img {
				transform: scale(1.02);
			}
		}
	}
}
@keyframes moveArrow {
	0% {
		transform: translate(0%, 0px);
	}
	50% {
		transform: translate(30%, 0px);
	}
	100% {
		transform: translate(0%, 0px);
	}
}
