$text: #727272;

$bg-main: #fff;
$green-main: #46a358;
$green-opacity: rgba(70, 163, 88, 0.3);
$green-opacity-09: rgba(70, 163, 88, 0.9);
$green-opacity-01: rgba(70, 163, 88, 0.1);
$green-opacity-02: rgba(70, 163, 88, 0.2);
$green-opacity-05: rgba(70, 163, 88, 0.5);

$black-light: #3d3d3d;
$gray-light: #eaeaea;
$gray-a5: #a5a5a5;
$gray-cb: #cbcbcb;
$gray-c4: #c4c4c4;
$gray-e5: #e5e5e5;
$bg-gray: #fbfdfd;
$error: rgb(244, 132, 132);
$star: #ffac0c;
$star-2: #f03800;
$bg-linear-white: linear-gradient(97.77deg, rgba(245, 245, 245, 0.5) -23.46%, rgba(245, 245, 245, 0.5) 107.51%);
$bg-linear-green: linear-gradient(180deg, rgba(70, 163, 88, 0.1) 0%, rgba(70, 163, 88, 0.03) 100%);
$bg-linear-green-rot: linear-gradient(180deg, rgba(70, 163, 88, 0.03) 0%, rgba(70, 163, 88, 0.1) 100%);
